<nav class="navbar main-card">

  <div class="logo">
    Riha Kumari | Angular Developer
  </div>

  <ul class="nav-links">

    <li><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#experience">Experience</a></li>

    <!-- Ask AI as NORMAL NAV ITEM -->
     <li><a (click)="openAI()">Ask AI</a></li>
    <!-- <li>
      <a class="ai-btn" (click)="openAI()">
        🤖 Ask AI
      </a>
    </li> -->

  </ul>

</nav>