@use '../../../styles/variables' as *;

.about-section {
  // background: #050816;
  // padding: 80px 20px;
  color: #fff;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  align-items: center;
}

.sub-title {
  color: #8b5cf6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-content h1 {
  font-size: 42px;
  margin: 10px 0 20px;
  font-weight: 700;
}

.about-content p {
  color: #b5b5b5;
  line-height: 1.8;
  margin-bottom: 12px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stat-card {
  // background: rgba(15, 23, 42, 0.9);
  border: 1px solid rgba(139, 92, 246, 0.15);
  border-radius: 16px;
  padding: 22px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  border-color: #8b5cf6;
  box-shadow: 0 10px 25px rgba(139, 92, 246, 0.25);
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.purple {
  background: rgba(139, 92, 246, 0.15);
  color: #8b5cf6;
}

.pink {
  background: rgba(236, 72, 153, 0.15);
  color: #ec4899;
}

.blue {
  background: rgba(59, 130, 246, 0.15);
  color: #3b82f6;
}

.violet {
  background: rgba(168, 85, 247, 0.15);
  color: #a855f7;
}

.stat-card h3 {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
}

.stat-card span {
  color: $primary-color;
  font-size: 14px;
}

h1 span {
  color: $primary-color;
}

@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }

  .about-content h1 {
    font-size: 32px;
  }
}